<%- include('../partials/layout-header',{admin, auth}) %>

    <div class="product-detail-container">
        <div class="left-container product-detail-default">
            <div class="preview-container">
                <div class="preview-card-container">
                    <img class="image" style="border-radius: 8px; padding: 6px;" src="<%= detail.ds_imagem %>" alt="">
                </div>

                <div class="preview-card-container">
                    <img class="image" style="border-radius: 8px; padding: 6px;" src="<%= detail.ds_imagem %>" alt="">
                </div>

                <div class="preview-card-container">
                    <img class="image" style="border-radius: 8px; padding: 6px;" src="<%= detail.ds_imagem %>" alt="">
                </div>

                <div class="preview-card-container" onclick="alert('Jesus é tudo!')">
                    <img class="image" style="border-radius: 8px; padding: 6px;" src="<%= detail.ds_imagem %>" alt="">
                </div>
            </div>
            
            <div class="image-container">
                <img src="<%= detail.ds_imagem %>" alt="img">
            </div>
        </div>
        <div class="right-container product-detail-default">
            <h2><%= detail.nome %></h2>
            <div class="assessment-container">
                <div class="starts-container">
                    <span class="fa fa-star checked" style="display: flex; align-items: center; justify-content: center;"></span>
                    <span class="fa fa-star checked" style="display: flex; align-items: center; justify-content: center;"></span>
                    <span class="fa fa-star checked" style="display: flex; align-items: center; justify-content: center;"></span>
                    <span class="fa fa-star-half-o checked" style="display: flex; align-items: center; justify-content: center;"></span>
                    <span class="fa fa-star" style="display: flex; align-items: center; justify-content: center;"></span>
                </div>

                <div class="assessment-texty">4,5 (150)</div>
            </div>

            <div class="price-text">por <span>R$ <%= detail.valor %></span></div>

            <!-- <input type="hidden" id="prodData" value="<%= JSON.stringify(detail) %>"> -->

            <button class="button-container" onclick="addCart(<%= JSON.stringify(detail) %>)" >
                <i style="display: flex; align-items: center; justify-content: center; font-size: 30px; margin-right: 10px;" class="fa fa-cart-plus" aria-hidden="true"></i>
                Adicionar ao carrinho
            </button>

            <div class="info-container">
                <h3 class="info-text">Informações do produto</h3>

                <div class="info-table accessible-font-size ">
                    <div class="info-row">
                        <div class="info-header">Fabricante</div>
                        <div class="info-header"><%= detail.fabricante %></div>
                    </div>

                    <div class="info-row">
                        <div class="info-value">Tipo</div>
                        <div class="info-value"><%= detail.tipo %></div>
                    </div>

                    <div class="info-row">
                        <div class="info-header">Categoria</div>
                        <div class="info-header"><%= detail.categoria %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('../partials/layout-footer') %>